{% extends "base.html" %}{% load floppyforms %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}
  <div>
    No account yet? 
    <a class="button" href="{% url "user_register" %}?next={{ next }}">Register</a>
  </div>
  {% form form using "floppyforms/layouts/p.html" %}
  <div>
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn btn-primary">
       Login!
    </button>
  </div>
</form>

{% endblock %}
