body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  src: local('Patrick Hand'), local('PatrickHand-Regular'), url("/static/fnt/PatrickHand-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url("/static/fnt/Incosolata.ttf") format('truetype');
}
html {
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
}
h1 {
  font-size: 2.333333333333333em;
  line-height: 1.571428571428571;
  margin: 0.523809523809524em 0;
  text-transform: uppercase;
}
h2 {
  font-size: 1.777777777777778em;
  line-height: 1.375;
  margin: 0.6875em 0;
}
h3 {
  font-size: 1.555555555555556em;
  line-height: 0.785714285714285;
  margin: 0.6875em 0;
}
p,
li {
  font-size: 18px;
  line-height: 1.222222222222222;
  margin: 1.222222222222222em 0;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #2f7c0b;
}
a:visited {
  color: #2f7c0b;
}
strong {
  font-weight: bold;
}
form {
  display: inline;
  float: left;
  overflow: hidden;
  width: 495.00000000000017px;
  margin: 0 7.50000000000042px;
  *width: 495.00000000000017px -correction;
  *margin: 0 7.50000000000042px -correction;
  margin-left: 262.50000000000045px;
  overflow: visible;
  position: relative;
}
form > div {
  width: 80%;
  border: 1px solid #000;
  text-align: center;
  transform-origin: left center;
  padding: 2.0625em;
  margin: 4.125em auto;
}
form > div:nth-child(odd) {
  transform: rotate(2deg);
  margin-top: -32px;
}
form > div:nth-child(even) {
  transform: rotate(-2deg);
}
form > div.r {
  transform: rotate(2deg);
}
form > div.l {
  transform: rotate(-2deg);
}
form > div.info {
  transform: none;
}
form > div.heading {
  padding: 0;
  margin-top: 2.0625em;
}
form > div.error,
form > div.important {
  border: 2px solid #ff5c5c;
  padding: 0 1em;
  font-weight: bold;
}
form ul.errorlist {
  position: absolute;
  right: -202px;
  width: 200px;
  border: 1px solid #000;
  background: #750d24;
  color: #fff;
}
form ul.info {
  text-align: left;
  padding-left: 5em;
  list-style-type: disc;
  background: transparent url("/static/img/hand_orange.png") no-repeat 80% 50%;
}
form p {
  display: table;
  width: 100%;
}
form label {
  display: table-row;
  font-size: 1.777777777777778em;
  line-height: 1.571428571428571;
  margin: 0.785714285714285em 0;
}
form input,
form textarea {
  display: table-row;
  width: 90%;
  border-width: 0;
  border-bottom: 2px dotted #000;
  font-size: 1.555555555555556rem;
  line-height: 1.571428571428571;
  margin: 0.392857142857143rem 0;
  font-family: 'Patrick Hand', cursive;
}
form .extra {
  text-align: right;
}
form .extra input,
form .extra textarea {
  font-size: 0.888888888888889rem;
  line-height: 1.375;
  margin: 0.6875rem 0;
  border-bottom: 2px dotted #666;
  width: 60%;
  color: #666;
}
form .extra.error input,
form .extra.error textarea {
  color: #a66;
}
button,
.button {
  border: 2px solid #750d24;
  border-radius: 5px;
  background-color: #ed1b24;
  color: #fff;
  font-weight: bold;
  padding: 0.15em;
  font-size: 1.777777777777778rem;
  vertical-align: middle;
  font-family: 'Patrick Hand', cursive;
}
button:visited,
.button:visited {
  color: #fff;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  padding-left: 40px;
  display: inline-block;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer;
  background-image: url("/static/img/checkbox.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0.392857142857143em 0;
  transition: background-position 0.2s ease;
}
input[type=checkbox]:checked + label {
  background-position: 0 -30px;
}
body {
  position: relative;
  padding-bottom: 60px;
}
#container {
  width: 1020px;
  margin: 6.111111111111111em auto 0 auto;
}
#page_header h1 {
  text-indent: -50000px;
  background: transparent url("/static/img/logo.png") no-repeat;
  height: 166px;
  margin: 0;
}
#page_header h2 {
  margin: 0;
  text-align: center;
  background: #000;
  color: #fff;
  font-size: 2.333333333333333em;
  line-height: 2.61904761904762;
}
.messages {
  border: 1px solid #000;
  text-align: center;
  transform-origin: left center;
  padding: 2.0625em;
  margin: 4.125em auto;
  width: 60%;
  padding: 0;
  background-color: #edd62b;
  margin-bottom: 1.222222222222222em;
}
.messages:nth-child(odd) {
  transform: rotate(2deg);
  margin-top: -32px;
}
.messages:nth-child(even) {
  transform: rotate(-2deg);
}
.messages.r {
  transform: rotate(2deg);
}
.messages.l {
  transform: rotate(-2deg);
}
.messages.info {
  transform: none;
}
.messages.heading {
  padding: 0;
  margin-top: 2.0625em;
}
.messages.error,
.messages.important {
  border: 2px solid #ff5c5c;
  padding: 0 1em;
  font-weight: bold;
}
.messages li {
  list-style-type: none;
}
#page_footer {
  position: fixed;
  background-color: #fff;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: right;
  border-top: 2px dotted #222;
}
#page_footer ul li {
  display: inline-block;
  margin: 0 1em;
  line-height: 2.444444444444444em;
}
#page_footer ul li a {
  color: #222;
  font-weight: bold;
}
#cause_community {
  background: transparent url("/static/img/levy_baths.jpg") no-repeat;
  height: 720px;
  position: relative;
}
#cause_community span {
  background-color: rgba(128,128,128,0.5);
  font-size: 2.333333333333333rem;
  color: #fff;
  position: absolute;
  bottom: 1.5em;
  font-weight: bold;
  text-shadow: 0px 0px 10px #111;
  text-align: center;
  width: 100%;
  line-height: 1.3;
  padding-bottom: 0.25em;
}
#cause_community span .btn {
  border: 2px solid #750d24;
  border-radius: 5px;
  background-color: #ed1b24;
  color: #fff;
  font-weight: bold;
  padding: 0.15em;
  font-size: 1.777777777777778rem;
  vertical-align: middle;
}
#cause_community span .btn:visited {
  color: #fff;
}
section#details {
  display: inline;
  float: left;
  overflow: hidden;
  width: 495.00000000000017px;
  margin: 0 7.50000000000042px;
  *width: 495.00000000000017px -correction;
  *margin: 0 7.50000000000042px -correction;
  padding-top: 4em;
}
section#details div {
  width: 80%;
  border: 1px solid #000;
  text-align: center;
  transform-origin: left center;
  padding: 2.0625em;
  margin: 4.125em auto;
}
section#details div:nth-child(odd) {
  transform: rotate(2deg);
  margin-top: -32px;
}
section#details div:nth-child(even) {
  transform: rotate(-2deg);
}
section#details div.r {
  transform: rotate(2deg);
}
section#details div.l {
  transform: rotate(-2deg);
}
section#details div.info {
  transform: none;
}
section#details div.heading {
  padding: 0;
  margin-top: 2.0625em;
}
section#details div.error,
section#details div.important {
  border: 2px solid #ff5c5c;
  padding: 0 1em;
  font-weight: bold;
}
#skills {
  border: 1px solid #000;
  text-align: center;
  transform-origin: left center;
  padding: 2.0625em;
  margin: 4.125em auto;
  width: 80%;
}
#skills:nth-child(odd) {
  transform: rotate(2deg);
  margin-top: -32px;
}
#skills:nth-child(even) {
  transform: rotate(-2deg);
}
#skills.r {
  transform: rotate(2deg);
}
#skills.l {
  transform: rotate(-2deg);
}
#skills.info {
  transform: none;
}
#skills.heading {
  padding: 0;
  margin-top: 2.0625em;
}
#skills.error,
#skills.important {
  border: 2px solid #ff5c5c;
  padding: 0 1em;
  font-weight: bold;
}
#skills ul {
  list-style-type: none;
}
#skills ul li {
  display: inline-block;
  width: auto;
  line-height: 43.99999999999999px;
  margin: 21.999999999999996px;
}
#skills ul li:nth-child(3n) {
  color: #2f7c0b;
}
#skills ul li:nth-child(3n+1) {
  color: #ed1b24;
}
#skills ul li:nth-child(3n+2) {
  color: #edd62b;
}
#skills ul li.none {
  color: #000;
  line-height: 1.222222222222222;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}
#skills h2 {
  margin: 0;
  width: 100%;
  text-align: left;
}
section#heroes {
  display: inline;
  float: left;
  overflow: hidden;
  width: 495.00000000000017px;
  margin: 0 7.50000000000042px;
  *width: 495.00000000000017px -correction;
  *margin: 0 7.50000000000042px -correction;
}
section#heroes li {
  width: 5em;
  height: 5em;
  border-radius: 2.5em;
  display: block;
  background-color: #f00;
  text-align: center;
  position: relative;
  float: left;
  margin-right: 1em;
}
section#heroes li.vacant {
  background-color: #808080;
}
section#heroes li.me {
  border: 4px solid #000;
  box-sizing: border-box;
}
section#heroes li span {
  position: absolute;
  bottom: -2em;
}
section#heroes li:nth-child(3n+1) {
  margin-left: -1px;
}
section#heroes li:nth-child(3n+2) {
  margin-left: 5px;
  position: relative;
  top: -5px;
}
section#heroes li:nth-child(3n) {
  margin-left: 3px;
  position: relative;
  top: 2px;
}
section#heroes h2 {
  text-align: center;
  clear: both;
  margin-bottom: 2.0625em;
}
section#heroes h2 span {
  font-size: 1.777777777777778em;
  vertical-align: baseline;
  text-decoration: underline;
}
section#heroes > div {
  border: 1px solid #000;
  text-align: center;
  transform-origin: left center;
  padding: 2.0625em;
  margin: 4.125em auto;
  width: 80%;
}
section#heroes > div:nth-child(odd) {
  transform: rotate(2deg);
  margin-top: -32px;
}
section#heroes > div:nth-child(even) {
  transform: rotate(-2deg);
}
section#heroes > div.r {
  transform: rotate(2deg);
}
section#heroes > div.l {
  transform: rotate(-2deg);
}
section#heroes > div.info {
  transform: none;
}
section#heroes > div.heading {
  padding: 0;
  margin-top: 2.0625em;
}
section#heroes > div.error,
section#heroes > div.important {
  border: 2px solid #ff5c5c;
  padding: 0 1em;
  font-weight: bold;
}
section#heroes > div a.button {
  background-color: #2f7c0b;
  border-color: #61a52b;
  color: #fff;
}
section#promote {
  display: inline;
  float: left;
  overflow: hidden;
  width: 495.00000000000017px;
  margin: 0 7.50000000000042px;
  *width: 495.00000000000017px -correction;
  *margin: 0 7.50000000000042px -correction;
  margin-left: 262.50000000000045px;
  overflow: visible;
}
section#promote > div {
  border: 1px solid #000;
  text-align: center;
  transform-origin: left center;
  padding: 2.0625em;
  margin: 4.125em auto;
  width: 80%;
}
section#promote > div:nth-child(odd) {
  transform: rotate(2deg);
  margin-top: -32px;
}
section#promote > div:nth-child(even) {
  transform: rotate(-2deg);
}
section#promote > div.r {
  transform: rotate(2deg);
}
section#promote > div.l {
  transform: rotate(-2deg);
}
section#promote > div.info {
  transform: none;
}
section#promote > div.heading {
  padding: 0;
  margin-top: 2.0625em;
}
section#promote > div.error,
section#promote > div.important {
  border: 2px solid #ff5c5c;
  padding: 0 1em;
  font-weight: bold;
}
section#promote > div.info {
  padding: 0;
  width: 140%;
  margin-left: -20%;
}
section#promote > div.info h3 {
  width: 100%;
  text-align: left;
  text-indent: 2em;
  margin: 0.785714285714285em 0 0 0;
}
section#promote > div.info code {
  font-size: 1.555555555555556em;
  font-family: 'Consolas';
}
