{% extends "base.html" %}
{% load core %}

{% block title %}{{ block.super }}: {{ campaign.name }}{% endblock title %}

{% block content %}
<section id="promote">
	<div class="heading">
		<h2>
			Share the cause<br />
			Build the campaign.
		</h2>
	</div>
	<div>
		<p>
			Promote &ldquo;<strong>{{ campaign.name }}</strong>&rdquo; to people you
			know and help reach the goal of 
			<strong>{{ campaign.threshold }}</strong> members.
		</p>
	</div>
	<div class="info">
		<h3>Here's the link:</h3>
		<p>
			<code>
				http://{{ site.domain }}{% url 'campaign_detail' slug=campaign.slug %}
			</code>
		</p>
	</div>
	{% if campaign.campaign_heroes.count == 0 %}
	<div class="r">
		<h3>Now you'd better join it yourself!</h3>
		<p>
			<a class="button" href="{% url 'campaign_join' slug=campaign.slug %}">
				Join campaign
			</a>
		</p>
	</div>
	{% else %}
	<div class="r">
		<p>
			You can also check out the <a href="{% url 'campaign_detail' slug=campaign.slug %}">
				campaign details</a> page yourself to see how it's getting on &hellip;
		</p>
	</div>
	{% endif %}
</section>
{% endblock content %}
