{% extends "base.html" %}
{% load core %}

{% block title %}{{ block.super }}: {{ campaign.name }}{% endblock title %}

{% block page_title %}{{ campaign.name }}{% endblock page_title %}

{% block content %}
<section id="details">
	<div>
		<p>
			{{ campaign.description }}
		</p>
	</div>
	<div>
		{% if user in campaign.heroes.all %}
			<p>
				You're participating in this campaign. Nice one!
			</p>
			<p>
				{% if not campaign.owner %}
					This campaign doesn't have an owner yet. 
					<a href="{% url "campaign_own" slug=campaign.slug %}">Step up</a>
				{% else %}
					{% if request.user == campaign.owner %}
						<em>(You own this campaign)</em>
					{% else %}
						<em>(Owned by "{{ campaign.owner.username }}")</em>
					{% endif %}
				{% endif %}
			</p>
		{% else %}
			<p>
				<a class="button" href="{% url "campaign_join" slug=campaign.slug %}">Join campaign</a>
			</p>
		{% endif %}
	</div>
	<section id="skills">
		<h2>Skills</h2>
		<ul>
			{% for superpower in superpowers %}
			<li style="font-size: {% widthratio superpower.count campaign.heroes.count 300 %}%">{{ superpower.name }}</li>
			{% empty %}
			<li class="none">None yet&hellip; why not 
				<a href="{% url 'campaign_promote' slug=campaign.slug %}">
					suggest it to someone who could help</a>, or
				<a href="{% url 'campaign_join' slug=campaign.slug %}">
					get involved yourself</a>?
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
<section id="heroes">
	<ul>
		{% for c_hero in campaign.campaign_heroes.all %}
			{% if c_hero.public %}
			<li {% if c_hero.hero.photo %}
				style="background-image: url({{ c_hero.hero.photo.url }})"
				{% endif %}
				{% if user == c_hero.hero %}class="me"{% endif %}
				><span>{{ c_hero.hero.username|truncatechars:7 }}</span></li>
			{% else %}
				<li class="anonymous"><span>????</span></li>
			{% endif %}
		{% endfor %}
		{% for vacancy in vacancies|get_range %}
		<li class="vacant"></li>
		{% endfor %}
	</ul>
	<h2>
		<span>{{ campaign.heroes.count }}</span>
		supporter{{ campaign.heroes.count|pluralize }}, 
		<span>{{ vacancies }}</span> more needed
	</h2>
	<div>
		<p>
			<a class="button" href="{% url 'campaign_promote' slug=campaign.slug %}">Promote campaign</a>
		</p>
	</div>
</section>
{% endblock content %}
