{% extends "base.html" %}{% load floppyforms %}

{% block page_title %}{% endblock page_title %}

{% block extra_js %}
	<script src="{{ STATIC_URL }}js/jquery.slugify.js"></script>
	<script type="text/javascript">
		{# FIXME move to "form.js" or a generic form template #}
		$(document).ready(function() {
				createSlugs();

				$("#id_threshold").ionRangeSlider({
					min: 4,
					max: 20,
					onChange: function(obj) {
						$("#val_threshold").text(obj.fromNumber);
					}
				});
		});
	</script>
{% endblock extra_js %}

{% block content %}
<form action="." method="POST">
	{% csrf_token %}
	{% form form using %}
	{% formrow form.name with extra=form.slug %}
	{% formrow form.location_address %}
	<div>
		<p>
			{% with field=form.threshold %}
			{% if field|id %}<label for="{{ field|id }}">{% endif %}{{ field.label }}{% if field.label|last not in ".:!?" %}:{% endif %}{% if field|id %}</label>{% endif %}
			{% formfield field %}
			{% endwith %}
		</p>
		<p>
			If <span id="val_threshold">8</span> people join my cause, I pledge to:
		</p>
		<ul class="info">
			<li>Meet</li>
			<li>Discuss</li>
			<li>Plan</li>
			<li>Take action!</li>
		</ul>
	</div>
	{% formrow form.description %}
	{% endform %}
	<div>
		<p>
			<button type="submit">
				Pledge it
			</button>
		</p>
	</div>
</form>
{% endblock content %}
